	
		<div><h3>Create a new Booking</div>
		<table class="table-responsive">
 
    <tr>
	<div>
      <input type="text" placeholder="First Name" ng-model="mctrl.newPerson.firstName">
      <input type="text" placeholder="Date" ng-model="mctrl.newPerson.date">
      <input type="text" placeholder="Time" ng-model="mctrl.newPerson.time">
      <input type="text" placeholder="Size" ng-model="mctrl.newPerson.size">
    </div>
    <button ng-click="mctrl.addPerson()">Add Reservation</button>
    </tr>
	
	
</table>